* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
  font-weight: 900;
}

body {
  background: hsl(36, 100%, 99%);
}

.container {
  max-width: 1112px;
  margin: 0 auto;
  padding: 6.2vw 0;
  font-family: Inter, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 4.1rem;
}

.logo {
  width: 100%;
}

.link-wrapper {}

.link {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.03rem;
  color: hsl(236, 13%, 42%);
}

.link:hover {
  color: hsl(5, 85%, 63%);
}

.link:last-child {
  margin-right: 0;
}

.hamburger-icon-wrapper {
  display: none;
}

.content-wrapper {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

/* page image */
.page-image-wrapper {
  grid-column: 1/ span 2;
  height: 18.7rem;
}

.page-image {
  width: 100%;
  height: 100%;
}

.page-image-mob {
  display: none;
}

/* .heading-wrapper {} */

.heading {
  font-size: 3.55rem;
  line-height: 3.5rem;
  font-weight: 900;
}

/* .web-3-info-wrapper{} */

.web-3-info {
  font-size: 0.94rem;
  line-height: 1.45rem;
  margin-bottom: 2.3rem;
  color: hsl(236, 13%, 42%);
}

.read-more-btn {
  width: 11.6rem;
  height: 3rem;
  border: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 4px;
  background: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  cursor: pointer;
  transition: all 0.2s ease;
}

.read-more-btn:hover {
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
}

/* news stories */
.new-stories-wrapper {
  grid-column: 3;
  grid-row: 1/ span 2;
  background: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  padding: 1.9rem 1.64rem 0 1.64rem;
}

.new-heading {
  color: hsl(35, 77%, 62%);
  font-size: 2.36rem;
}

.news-wrapper {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding: 1.9rem 0 2rem;
}

.news-wrapper:last-child {
  border-bottom: none;
}

.news-title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.news-info {
  font-size: 0.94rem;
  line-height: 1.5rem;
}

.latest-news {
  margin-top: 2.7rem;
  display: flex;
}

.news-image {
  width: 6.2rem;
}

.news-info-wrapper {
  margin-left: 1.65rem;
}

.news-number {
  font-size: 1.9rem;
  font-weight: 900;
  color: hsl(233, 8%, 79%);
}

.latest-news-title {
  font-weight: 900;
  margin-top: 0.5rem;
  font-size: 1.12rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.latest-news-title:hover {
  color: hsl(5, 85%, 63%);
}

.latest-news-info {
  margin-top: 0.83rem;
  font-size: 0.935rem;
  line-height: 1.5rem;
  color: hsl(236, 13%, 42%);
}

.hamburger-menu {
  display: none;
}

.attribution {
  font-family: Inter;
  font-size: 0.78rem;
  text-align: center;
  margin: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 6vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 11px;
  }

  .container {
    padding: 6vw 3vw;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 7.75vw 4.35vw;
  }

  .links-wrapper {
    display: none;
  }

  .hamburger-icon-wrapper {
    display: inline-block;
  }

  .content-wrapper {
    margin-top: 2.6rem;
    grid-template-columns: auto;
    gap: 0;
  }

  .page-image-wrapper {
    grid-column: 1;
    height: 27.2rem;
  }

  .page-image {
    display: none;
  }

  .page-image-mob {
    display: block;
    width: 100%;
    height: 100%;
  }

  .heading {
    margin-top: 2.3rem;
    font-size: 3.67rem;
    line-height: 3.6rem;
  }

  .web-3-info {
    margin-top: 1.6rem;
    font-size: 1.36rem;
    line-height: 2.35rem;
    margin-bottom: 2.1rem;
  }

  .read-more-btn {
    width: 16.75rem;
    height: 4.3rem;
    font-size: 1.3rem;
    letter-spacing: 4px;
  }

  /* news stories */
  .new-stories-wrapper {
    margin: 5.9rem 0 2.25rem;
    grid-column: 1;
    grid-row: auto;
    padding: 2rem 1.9rem 0 1.9rem;
  }

  .new-heading {
    font-size: 2.85rem;
  }

  .news-wrapper {
    padding: 2.8rem 0 2.8rem;
  }

  .news-title {
    font-size: 1.805rem;
    margin-bottom: 0.85rem;
  }

  .news-info {
    font-size: 1.37rem;
    line-height: 2.2rem;
  }

  .latest-news {
    margin-top: 3.15rem;
  }

  .news-image {
    width: 9.15rem;
  }

  .news-info-wrapper {
    margin-left: 2rem;
  }

  .news-number {
    font-size: 2.8rem;
  }

  .latest-news-title {
    margin-top: 0.8rem;
    font-size: 1.65rem;
  }

  .latest-news-info {
    margin-top: 1rem;
    font-size: 1.38rem;
    line-height: 2.3rem;
  }

  .hamburger-menu {
    display: block;
    transform: translateX(60vw);
    opacity: 0;
    width: 68vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    background: hsl(36, 100%, 99%);
    padding: 2.5rem 1.8rem 0 2rem;
  }

  .hamburger-menu-active {
    transition: all .3s linear;
    transform: translateX(0px);
    opacity: 1;
  }

  .close-icon-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .close-icon {
    width: 3rem;
  }

  .hamburger-links-wrapper {
    margin-top: 7.9rem;
    display: flex;
    flex-direction: column;
  }

  .hamburger-link {
    text-decoration: none;
    font-size: 1.65rem;
    color: hsl(236, 13%, 42%);
    margin-bottom: 2.35rem;
  }
}